<div class="filter-form">
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" [(ngModel)]="startDate">
  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" [(ngModel)]="endDate">
  <label for="minIntensity">Min Intensity:</label>
  <input type="number" id="minIntensity" [(ngModel)]="minIntensity">
  <label for="maxIntensity">Max Intensity:</label>
  <input type="number" id="maxIntensity" [(ngModel)]="maxIntensity">
  <button (click)="filterData()">Filter</button>
</div>

<div class="heatmap">
  <div *ngFor="let row of heatmapData; let rowIndex = index" class="row">
    <div *ngFor="let cell of row; let cellIndex = index" [ngStyle]="{'background-color': getColor(cell)}" class="cell">
      {{ cell }}
    </div>
  </div>
</div>